
.search-toggle-li{
	display:none;
}
#site-header>.container{	
		width:1200px;
		max-width:100% !important; 
		
	
}
#site-navigation-wrap {
	right:-119px !important;
}
#site-navigation-wrap .dropdown-menu>li>a {
   font-size: 16px;
	font-family:syne;
	font-weight:400;
	
  
}
.Btn-menu{
	background-color:#DC9F96;
     width:236px;
	 text-align:center !important;
     margin-left:34px !important;

}
.Btn-menu>a{
	color:#fff !important;
}
#site-navigation-wrap .dropdown-menu>li>a {
	font-family:syne;
	font-weight:700px;
	font-size:16px !important;
}

.custom-footer{
	text-align: center;
	font-family:syne;
	font-weight:400px;
	font-size:16px;
	line-height:19.2px;
}
/*#menu-item-61 a>.text-wrap{
	color:#fff;
	
}
#menu-base {
  padding: unset;
  margin: unset;
}
.Temoiniage{
 display:flex;
}
#footer-widgets {
  display:none;
}
#footer-bottom-inner {
  margin: -45px auto !important;
}

.frm_button_submit{
  margin-left:30% !important;
}
